/*
    designed by Sayfulla Sabirov

    instagram: sayfulla496

    codepen: sayfi_dev

*/
* {
    margin: 0;
    padding: 0;
}
.container .card .nav a {
    background-color: rgba(0, 0, 0, 0.001);
    color: white;
}
.container .card .nav a:hover {
    background-color: white;
    color: black;
}
.container .reg {
    margin-top: 100px;
    margin-left: 100px;
}
.container .reg h5 {
    margin-left: 30px;
    margin-top: 15px;
}
.container .reg input {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}
.container .reg label {
    margin-top: 5px;
    margin-bottom: 15px;
}
.container .reg a {
    margin: 45px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.container .reg a:hover {
    background-color: #fff;
    color: black;
}
